<VirtualHost *:443>
    ServerName {{ password_change_ui_apache_servername }}
{% for alias in password_change_ui_apache_serveralias %}}
    ServerAlias {{ alias }}
{% endfor %}}
    DocumentRoot "/var/www/password.reform/"
    DirectoryIndex index.php

    SSLEngine On
    SSLCertificateFile /etc/httpd/star.reform.hmcts.net.crt
    SSLCertificateKeyFile /etc/httpd/star.reform.hmcts.net.key
</VirtualHost>

<VirtualHost *:80>
    ServerName {{ password_change_ui_apache_servername }}
{% for alias in password_change_ui_apache_serveralias %}}
    ServerAlias {{ alias }}
{% endfor %}}
    DocumentRoot "/var/www/password.reform/"
    DirectoryIndex index.php
</VirtualHost>
